In [4]:
import pyodbc
import pandas as pd 
pyodbc.drivers()

conn = pyodbc.connect(
    
    'Driver={ODBC Driver 18 for SQL Server};'
    'Server=tcp:localhost,1433;'
    'Database=AdventureWorks2017;'
    'Encrypt=yes;'
    'TrustServerCertificate=YES;'
    'UID=sa;'
    'PWD=anypassword;'

)

cursor = conn.cursor()

In [6]:
df = pd.read_csv("/Users/f/Desktop/data_example/data_example.csv")
df.head()

,id,first_name,last_name,email,gender,ip_address,city
0,1,Joseph,Zaniolin,jzaniolini0@simplemachines.org,Male,162.162.68.132,Pedro Leopoldo
1,2,Freida,Drillingco,fdrillingcourt1@umich.edu,Female,97.214.102.74,Buri
2,3,Nanni,Heritye,nherity2@statcounter.com,Female,145.151.178.98,Claver
3,4,Orazio,Fraylinge,ofrayling3@economist.com,Male,162.162.68.132,Kungur
4,5,Julianne,Murrisonz,jmurrison4@cbslocal.com,Female,97.214.102.74,Sainte-Luce-sur-Loire

In [7]:
df.columns

Index(['id', 'first_name', 'last_name', 'email', 'gender', 'ip_address',
       'city'],
      dtype='object')

In [12]:
cursor.execute('''
                CREATE TABLE TABLE2
                (
                
                id int primary key, first_name nvarchar(50), last_name nvarchar(50), email nvarchar(50), gender nvarchar(50), ip_address nvarchar(50),
       city nvarchar(50)
                
                )             
                
                ''')


for row in df.itertuples():
    cursor.execute('''
    INSERT INTO AdventureWorks2017.dbo.TABLE2 ( id, first_name, last_name, email, gender, ip_address,
       city)
    VALUES(?,?,?,?,?,?,?)
    
    ''',
                    
                    row.id,
                    row.first_name,
                    row.last_name,
                    row.email,
                    row.gender,
                    row.ip_address,
                    row.city,
    
    )
    
    conn.commit()